
#details_page {
	margin: 1.5em;
	width: 90%;
}

#app_content p {
	margin: .5em;
	white-space:normal;
}

#add_feed_button {
	
}

#add_feed_form {
	width: 245px;	
}

.search_feed_text {
	margin-bottom: 100px;
}

.ui-body-c {
	background-image: none;
}