
#details_page {
	margin: 1.5em;
	width: 90%;
}

#app_content p {
	margin: .5em;
	white-space: normal;
}

#feed_search_result {
	margin-top: 22px; 
}

#add_feed_form {
	width: 245px;	
}

.feed_list_item {
	font-size: 12px;	
}

.search_feed_text {
	font-size: 12px;	
	margin-bottom: 100px;
}

.ui-body-c {
	background-image: none;
}